@charset "utf-8";
/* CSS Document */

.login{
	
	height:30px;
	width:500px;
	}
	

.enviar{
	border-radius:5px;
 
 height:50px;
 width:100px;
	}
	.enviar:hover {
  color: red;
  
	}
	
	
#divpara{
	
background-color:rgba(0,0,0,1.00);
	
	
	
	}